/* OVERRIDES*/

.bar.bar-stable{
	background-color: #2980b9;
	border: none;
	
}

.bar-stable .button{
	color:white;
}

.bar .title{
	color: white;
}

.bar.bar-stable .title{
	color: white;
}

#search-box{
	background-color: #2980b9;
	padding-bottom: 15px;
}

.tabs{
	background-color: #2980b9;
	color: white;
}

.item-divider{
	font-weight: 300;
	font-size: 14px;
}

.has-header-main{
	top:20px;
}

.header-text{
	font-size: 22px;
	font-weight: 300;

}

.sub-header{
	font-size: 16px;
	padding-top: 25px;
	color: darkgray;
	font-weight: 300;

}

.grammar{
	color:red;
}

.content-wrapper{
	padding:25px;

}

.example{
	font-size:16px;
}

.info-icon{
	font-size: 22px;
	color: red;
	float: right;
}

#fav-icon{
	font-size: 32px;
	float: right;
	color: #ffffff;
	padding: 0 6px;
}

.ion-ios7-close-empty{
	font-size: 32px;
	color: #ffffff;
}

#upload-btn{
	font-size: 32px;
	float: right;
	color: #ffffff;
	margin-right: 15px;
}

#search-box{
	border-top: none;
	padding-left: 5px;
	padding-right: 5px;
}

.list-definition{
	font-size: 12px;
}

.list-word{
	font-size: 18px;
	margin-bottom: 5px;
	font-weight: 400;

}

.item-icon-right .icon{
	font-size: 18px;
}

canvas{
	height: 250px !important;
	width: 250px !important;
	margin: 0 auto;
}