<ion-view>
  <ion-content has-bouncing="false" has-padding="false">
   <form ng-submit="results(searchTerm)" id="search-box">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search" ng-model="searchTerm">
      </label>
  </form>
	<ion-list>
  <div class="item item-divider">
    {{numOfResults}} Results
  </div>
	 <ion-item class="item-icon-right item-text-wrap"ng-repeat="result in save" type="item-text-wrap" href="#/tab/word/{{result.id}}">
		<div class="list-word">{{result.en}}</div>
    <div class="list-definition">{{result.jp}}</div>
    <i class="icon ion-ios7-arrow-right list-chevron"></i>
	</ion-item>
	</ion-list>
  </ion-content>
</ion-view>
