<ion-view>
<ion-nav-buttons side="right">
        <i href="#" ng-class="{'ion-ios7-trash-outline': isFavs, '': !isFavs}" ng-click="clearFavorites()" id="fav-icon"></i>
</ion-nav-buttons>
  <ion-content class="has-header">
    <ion-list>
		 <ion-item ng-repeat="item in favoriteListicle" type="item-text-wrap" href="#/tab/favorite/{{item.id}}">
			{{item.en}}
			{{item.jp}}
		</ion-item>
	</ion-list>
  </ion-content>
</ion-view>
