<ion-view>
<ion-nav-buttons side="right">
        <i href="#" ng-class="{'ion-ios7-star': favorited, 'ion-ios7-star-outline': !favorited}" ng-click="favorite()" id="fav-icon"></i>
</ion-nav-buttons>
<ion-content has-header="true" padding="true">
  <div class="content-wrapper">   
    <h1 class="header-text">{{word.en}}</h1>
    <h4 class="sub-header">意味</h4>
    <h4 class="definition">{{word.jp}}</h4>
    <h4 class="sub-header">文法</h4>
    <h4 class="definition">{{word.grammar}}  <span ng-click="modal.show()"class="info-icon"><i class="icon ion-ios7-help-outline"></i></span></h4>
    <h4 class="sub-header">例</h4>
    <p class="example">{{word.ex1eng}}</p>
    <p class="example">{{word.ex1jp}}</p>
    <h4 class="sub-header">悪レベル <span ng-click="modal.show()"class="info-icon"><i class="icon ion-ios7-help-outline"></i></span></h4>
    <canvas doughnutchart data="myChartData" width="250" height="250" id="level-chart"></canvas>
  </div>
  </ion-content>
</ion-view>

