 
      <div class="modal">
        <header class="bar bar-header bar-stable">
          <h1 class="title">文法</h1>
          <div class="button button-clear" ng-click="modal.hide()"><span class="icon ion-ios7-close-empty"></span></div>
        </header>
        <content has-header="true" padding="true">
          <p>This is where I will tell you all about the bird & the bees, and about what the parts of speech are all about! Peace!</p>
        </content>
      </div>
