/* OVERRIDES*/

.bar.bar-stable{
	background-color: #2980b9;
	border: none;
	
}

.platform-ios7.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader) {
   /* height: 20px;
    border-bottom: none;*/
}

.bar-stable .button{
	color:white;
}

.bar .title{
	color: white;
}

.bar.bar-stable .title{
	color: white;
}

.homepage-content{
	margin-top: 64px;
}

.tabs{
	background-color: #2980b9;
	color: white;
}

.item-divider{
	font-weight: 300;
	font-size: 14px;
}

.has-header-main{
	top:20px;
}

.header-text{
	font-size: 22px;
	font-weight: 300;

}

.sub-header{
	font-size: 16px;
	padding-top: 25px;
	color: darkgray;
	font-weight: 300;

}

.item-input{
	webkit-border-radius: 10px !important;
	-moz-border-radius: 10px !important;
	border-radius: 5px !important;
	padding: 1px 0 1px 8px;
}

#searchInput{
	height: 25px;
}

.grammar{
	color:red;
}

.content-wrapper{
	padding:25px;

}

.example{
	font-size:16px;
}

.info-icon{
	font-size: 22px;
	color: red;
	float: right;
}

#fav-icon{
	font-size: 32px;
	float: right;
	color: #ffffff;
	padding: 0 6px;
}

.ion-ios7-close-empty{
	font-size: 32px;
	color: #ffffff;
}

#upload-btn{
	font-size: 32px;
	float: right;
	color: #ffffff;
	margin-right: 15px;
}

#search-box{
	background-color: #2980b9;
	width: 100%;
	padding-top: 29px;
	padding-left:10px;
	padding-right: 10px;
	padding-bottom: 8px;
	
}

.bar{
	background-size: 100% 0px;
}

.list-definition{
	font-size: 12px;
}

.list-word{
	font-size: 18px;
	margin-bottom: 5px;
	font-weight: 400;

}

.item-icon-right .icon{
	font-size: 18px;
}

.logo{
	height: 50px;
	width: 50px;
	background-color: blue;
	margin: 15px auto;
}

.center-wrapper{
	text-align: center;
}

.item-divider{
	padding-top: 4px;
	padding-bottom: 4px;
}